@model BankManage.Models.UserDetails

@{
    ViewBag.Title = "Details";
}

<link href="@Url.Content("~/Content/Style.css")" rel="stylesheet" type="text/css" />

<h2>Details</h2>
<h4>UserDetails</h4>
<div class="col-md-2"></div>
<div class="col-md-4">
    <div class="col-md-4"></div>

    <div>
        
        <hr />
        <dl class="dl-horizontal">


            @*<dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccountNumber)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.AadharNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AadharNo)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.EmailId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailId)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.PAN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PAN)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.Balance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Balance)
            </dd>
            <br >
            <dt>
                @Html.DisplayNameFor(model => model.DOB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DOB)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.AccountNumber }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
